---
import CucumberIcon from '@hero/icons/cucumber-icon.astro';
import AboutBackground from './AboutBackground.astro';
---

<article
  class='relative bg-accent flex flex-col gap-y-3 row-span-full rounded-xl py-6 px-8'
>
  <AboutBackground />
  <CucumberIcon />
  <h2 class='font-semibold text-[32px] z-10'>Lorem Mi</h2>
  <p class='max-w-[80%] text-pretty'>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat quidem
    velit nihil, omnis sed in atque praesentium eos magnam molestiae id illo
    hic, dignissimos expedita voluptas suscipit eum vitae consequatur.
  </p>
</article>
