---
import CucumberIcon from '@hero/icons/cucumber-icon.astro';
import AboutBackground from './AboutBackground.astro';
---

<article class='relative bg-accent row-span-full rounded-xl p-4'>
  <AboutBackground />
  <div class='bg-green-900 p-[4px] rounded-lg z-0 absolute right-1 top-1 text-lime-400'>
    <CucumberIcon />
  </div>
  <div class='w-full flex items-center gap-3'>
   
    <h2 class='font-main font-semibold text-[32px] z-10'>Lorem Mi</h2>
  </div>
</article>
