<picture class='w-[30%] h-full flex items-center justify-center relative'>
  <div class='size-[230px]'></div>
</picture>
<style>
  div {
    background-image: url('../assets/avatar.jpg');
    background-size: cover;
    background-position: center;
    -webkit-mask-image: url('../assets/mask.png');
    mask-image: url('../assets/mask.png');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    filter: grayscale(50%);
  }
</style>
